{% extends "base.html" %}

{% block content %}

<div style="padding:25px">
	<h1>Welcome to CalcuGrader!</h1>
	
	<br />
	<p><h5>Enter your letter grades and number of credit hours for all your current classes to calculate your GPA for the current semester. </h5>
	
	<h5>(<i>Valid letter grades:</i>: A, A-, B+, B, B-, C+, C, C-, D+, D, or E)</h5>
	<br>

    <form id=inputs>
        <label>Letter Grade: </label>
        <input type="text" name="grade" onblur="validate()">
		<label>Credit Hours: </label>
		<input type="text" name="credits" onblur="validate()">
	</form>

    <button type="button" class="btn btn-secondary" id="addClassBtn">Add Class</button><br><br>
	<button type="button" class="btn btn-danger" disabled="disabled" id="calculateBtn">Calculate</button>&nbsp;
	<button type="button" class="btn btn-dark" id="clearCurrentBtn">Clear</button>
	<br>
	<br>
	<div id=calculatedGrade class="border border-secondary">
	</div>
	

	<br />
	<p><h5>After calculating your current semester GPA above, enter the numbers below to see how your grade this semester will affect your cumulative GPA.</h6></p>

	<form>
		<label>Previous Cumulative GPA: </label>
		<input type="text" id="prev_gpa" onblur="validate()">
		<br>
		<label>Previous Total Credit Hours: </label>
		<input type="text" id="prev_total" onblur="validate()"><br>
	</form>
	<br>
	<button type="button" class="btn btn-danger" disabled="disabled" id="calculateNewBtn">Calculate</button>&nbsp;
	<button type="button" class="btn btn-dark" id="clearTotalBtn">Clear</button>
	<br>
	<br>
	<div id=cummulative class="border border-secondary">
	</div>

    <script type="text/javascript" src="{{ url_for('static', filename='addEventListeners.js') }}"></script>

</div>

{% endblock %}
