{% extends "base.html" %}

{% block content %}

    <h1>Welcome to CalcuGrader!</h1>

    <div id=calculatedGrade>
    </div>

    <form id=inputs>
        <label>Grade: </label>
        <input type="text" name="grade"><br>
    </form>
    <button type="button" class="btn btn-primary" id="addClassBtn">Another Class?</button><br>
    <button type="button" class="btn btn-primary" id="calculateBtn">Calculate</button>

    <script type="text/javascript" src="{{ url_for('static', filename='addEventListeners.js') }}"></script>


{% endblock %}
